
.page {
  position: relative;
  overflow: hidden;
}


.wallpaper {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/assets/eerthomewallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}

#home .wallpaper {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/assets/eerthomewallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
} */
#illusion .illusion-wallpaper {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/assets/illusion-wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}

#who .who-wallpaper {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/assets/who-wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}

#why .why-wallpaper {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/assets/why-wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}

#purpose .purpose-wallpaper {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/assets/purpose-wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}

#when .when-wallpaper {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/assets/when-wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}

#how .how-wallpaper {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/assets/how-wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}

#where .where-wallpaper {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/assets/where-wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}

#return .return-wallpaper {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/assets/return-wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}

#spirits .spirits-wallpaper {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/assets/spirits-wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}

#screenplay .screenplay-wallpaper {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/assets/screenplay-wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}


section {
  position: relative;
  overflow: hidden;
}
